Assignment 1/student_release_ex_1/.ipynb_checkpoints/start_here-checkpoint.ipynb
Assignment 1/student_release_ex_1/solutions/.ipynb_checkpoints/cnn-checkpoint.py
Assignment 1/student_release_ex_1/utils/.ipynb_checkpoints/pick_device-checkpoint.py
Assignment 1/student_release_ex_1/wheels/filelock-3.19.1-py3-none-any.whl
Assignment 1/student_release_ex_1/wheels/fsspec-2025.9.0-py3-none-any.whl
Assignment 1/student_release_ex_1/wheels/jinja2-3.1.6-py3-none-any.whl
Assignment 1/student_release_ex_1/wheels/MarkupSafe-2.1.5-cp311-cp311-win_amd64.whl
Assignment 1/student_release_ex_1/wheels/mpmath-1.3.0-py3-none-any.whl
Assignment 1/student_release_ex_1/wheels/networkx-3.5-py3-none-any.whl
Assignment 1/student_release_ex_1/wheels/numpy-2.3.3-cp311-cp311-win_amd64.whl
Assignment 1/student_release_ex_1/wheels/pillow-11.3.0-cp311-cp311-win_amd64.whl
Assignment 1/student_release_ex_1/wheels/sympy-1.13.1-py3-none-any.whl
Assignment 1/student_release_ex_1/wheels/torch-2.6.0+cu124-cp311-cp311-win_amd64.whl
Assignment 1/student_release_ex_1/wheels/torchaudio-2.6.0+cu124-cp311-cp311-win_amd64.whl
Assignment 1/student_release_ex_1/wheels/torchvision-0.21.0+cu124-cp311-cp311-win_amd64.whl
Assignment 1/student_release_ex_1/wheels/typing_extensions-4.15.0-py3-none-any.whl
